/*Only flex if we're above 1366x768 + some*/
/*Do noscript check*/
/*Have hidden text to indicate CSS loading failure*/

html, body {
	margin:0;
	padding: 0;
}

h1 {
	margin: auto;
}

#flex-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

#flex-row {
	display:flex;
	flex-basis: 80vh;
	flex-grow: 5;
}

#ui-container {
	background-color: #474954;
	display: flex;
	flex-basis: 300px;
	flex-grow: 50;
}
#coin-container {
	background-color: #00FF00;
	display: flex;
	flex-basis: 200px;
	flex-grow: 1;
}

#print-container {
	background-color: #0000FF;
	display: flex;
	flex-basis: 150px;
	flex-grow: 1;
}

.button {
	border-radius: 10px;
	border: none;
}


.button:active {
	box-shadow: inset 1px 1px 1px 1px;
}

.green-button {
	background-color: #87CE67;
	box-shadow: 1px 1px 1px 1px rgba(85, 127, 85, 0.80);
}

.red-button {
	background-color: #9E788F;
	box-shadow: 1px 1px 1px 1px rgba(127, 85, 85, 0.80);
}

.blue-button {
	background-color: #7284A8;
	box-shadow: 1px 1px 1px 1px rgba(57, 66, 84, 0.80);
}

.expand {
	/*width: 100%;
	height: 100%;*/
	flex-grow:1;
	width:100%;
}

/*state-initial*/
.state-initial-prim-button {
	width: 70%;
	height: 40%;
	margin:auto;
	font-size: 36pt;

}

.state-initial-sec-button {
	width: 70%;
	height: 20%;
	margin:auto;
	font-size: 36pt;
}

/*state-time*/
.state-time-half-button {
	width: 45%;
	margin:auto;
	font-size: 24pt;
}

#state-time > .flex-row {
	display:flex;
	flex-direction:row;
	align-content: space-around;
}

.time-button {
	font-size: 12pt;
	border-radius: 25pt;
	width: 25pt;
	height:25pt;
}

/*state declarations*/

#state-initial {
	display: flex;
	flex-direction: column;
}

#state-time, #state-choose-payment, #state-payment-cash, #state-payment-card, #state-log-in, #state-account-new-ticket, #state-account-existing-ticket, #state-refund {
	display:none;
	flex-direction:column;
}
