/*Only flex if we're above 1366x768 + some*/
/*Do noscript check*/
/*Have hidden text to indicate CSS loading failure*/

html, body {
	margin:0;
	padding: 0;
	height: 100%;
}

h1 {
	margin: auto;
	align-self: center;
}

#card-slot {
	width: 80%;
	height: 300px;
	background-color: #000000;
}
#coin-slot {
	width: 80%;
	height: 50px;
	background-color: #333333;
}

#current-time {
	font-size: 16pt;
	width:100%;
	flex-shrink:1;
	flex-grow:0;
	border: black solid 1px;
	padding-left: 5pt;
}

#flex-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

#flex-row {
	display:flex;
	flex-basis: 80vh;
	flex-grow: 5;
}

#ui-container {
	background-color: #474954;
	display: flex;
	flex-basis: 300px;
	flex-grow: 50;
	flex-direction:column;
}
#coin-container {
	background-color: #00FF00;
	display: flex;
	flex-basis: 200px;
	flex-grow: 1;
}

#print-container {
	background-color: #262F4C;
	display: flex;
	flex-basis: 150px;
	flex-grow: 1;
}

.button {
	border-radius: 10px;
	border: none;
}


.button:active:not(:disabled){
	box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.8);
	color: #000000;
}

.green-button {
	background-color: #87CE67;
	box-shadow: 2px 2px 2px 2px rgba(42, 64, 42, 0.80);
}

.red-button {
	background-color: #9E788F;
	box-shadow: 2px 2px 2px 2px rgba(64, 42, 42, 0.80);
}

.blue-button {
	background-color: #7284A8;
	box-shadow: 2px 2px 2px 2px rgba(26, 33, 42, 0.80);
}
.button:disabled {
	background-color:#A9B3CE;
	box-shadow: 0 0 0 0 !important;

}

.expand {
	/*width: 100%;
	height: 100%;*/
	flex-grow:1;
	width:100%;
}

/*state-initial*/
.state-initial-prim-button {
	width: 70%;
	flex-basis: 200pt;
	margin:auto;
	margin-top: 15pt;
	margin-bottom: 15pt;
	flex-shrink: 1;
	font-size: 36pt;

}

.state-initial-sec-button {
	width: 70%;
	margin:auto;
	flex-basis: 100pt;
	flex-shrink:2;
	margin-top: 15pt;
	margin-bottom: 15pt;
	font-size: 36pt;
}

/*state-time*/
.state-time-half-button {
	width: 45%;
	margin:auto;
	font-size: 24pt;
	margin-top: 15pt;
	margin-bottom: 15pt;
}

#state-time > .flex-row {
	display:flex;
	flex-direction:row;
	align-content: space-around;
	flex-grow:1;
	flex-basis: 20pt;
}

.time-button {
	font-size: 24pt;
	border-radius: 25pt;
	/*width: 25pt;*/
}

.state-time-text-wrapper {
	flex-grow:2;
	font-size: 24pt;
	align-self: center;
	margin:auto;
	display:flex;
	flex-direction:row;
	align-content:center;
	justify-content: center;
	align-items:center;
	border: black solid 2pt;
	width: 80%;
}

.state-time-text-wrapper + .state-time-text-wrapper{
	border-top: none;
}
.state-time-text-wrapper > span {
	margin-right: 5pt;
}
.state-time-text-wrapper > span + span {
	margin-right: 0;
}
}

#state-time-exp-time {
}

#state-time-price {
}


/*state-log-in*/

#state-log-in {
	justify-content: center;
}

#state-log-in > h2{
	margin: 0px;
}

form {
	display: flex;
	flex-direction: column;
}

.log-in-username-input{
	background-color: #7284A8;
	color: white;
	box-shadow: 2px 2px 2px 2px rgba(26, 33, 42, 0.80);
	display: block;
}

.log-in-password-input{
	background-color: #9E788F;
	color: white;
	box-shadow: 2px 2px 2px 2px rgba(64, 42, 42, 0.80);
	align-self: center center;
	display: block;
}

.log-in-flex-row > button {
	display: block;
}

.button-balance:disabled {
	background-color:#87CE67;
	box-shadow: 0 0 0 0 !important;
	color: #000000;
}

/*logged in*/
#state-account-logout{
	flex-shrink: 1;
}

/*state declarations*/

/*state-choose-payment*/
#state-choose-payment{
	display: flex;
	flex-direction: column;
	align-items:center;
}

.state-choose-payment-cash-button {
	width: 70%;
	flex-basis: 200pt;
	margin:auto;
	margin-top: 15pt;
	margin-bottom: 15pt;
	flex-shrink: 2;
	font-size: 36pt;

}

.state-choose-payment-card-button {
	width: 70%;
	flex-basis: 200pt;
	margin:auto;
	margin-top: 15pt;
	margin-bottom: 15pt;
	flex-shrink: 2;
	font-size: 36pt;
}

.state-choose-payment-back-button {
	width: 40%;
	margin:auto;
	flex-basis: 100pt;
	flex-shrink:1;
	margin-top: 15pt;
	margin-bottom: 15pt;
	font-size: 36pt;
}


#state-initial {
	display: flex;
	flex-direction: column;
}

#state-time, #state-choose-payment, #state-payment-cash, #state-log-in, #state-payment-card, #state-account-new-ticket, #state-account-existing-ticket, #state-refund, #state-printing {
	display:none;
	flex-direction:column;
}

/*printer*/
#printer {
	background-color: #808080;
	color: #808080;
	position: relative;
	width: 40%;
	height: 80px;
	top: 40px;
	left: 5%;
}

#printer-slot {
	background-color: #666666;
	min-height: 20%;
	position: relative;
	top: 40%;
	width: 90%;
	left: 5%;
}

#printer-ticket {
	display: none; /*turn this off to show the ticket*/
	background-color: #ffffff;
	position: relative;
	width: 400px;
	left: 100px;
	top: 15px;
	padding: 1% 2%;
}

#printer-ticket-time {
	display: inline;
}
